@page
@model SWP_QA_TOOL.Pages_Admin_Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.AvatarUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.AvatarUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.ReputationPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.ReputationPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.IsEmailVerified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IsEmailVerified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastLoginAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastLoginAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
