@page
@model SWP_QA_TOOL.Pages_Admin_Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].AvatarUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].ReputationPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].IsEmailVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].LastLoginAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvatarUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReputationPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmailVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLoginAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
