@page
@model SWP_QA_TOOL.Pages_Admin_Meetings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MeetingType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MeetingType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MeetingUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MeetingUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.TimeZone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.TimeZone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MaxParticipants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.CurrentParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.CurrentParticipants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.IsRecurring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.IsRecurring)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.RecurrencePattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.RecurrencePattern)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Organizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Organizer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Team.TeamCode)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Meeting.MeetingId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
