@page
@model SWP_QA_TOOL.Pages_Admin_Teams.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Leader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Mentor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leader.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentor.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
