@page
@model SWP_QA_TOOL.Pages_Admin_Tags.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].TagName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].IconUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].QuestionCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].FollowerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TagId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TagId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TagId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
